/* Website: Site Name v.1 */
/*Author: Aliza Chasan */
#header {
	background-image: url("http://digitalstorage.journalism.cuny.edu/aliza.chasan/public_html/header.jpg");
	background-size: 100%; 
}
h1 {
	font-size: 100px;
	text-align: center;
	color: white;
	
}
#navbar {
	background-color: black;
	display: inline-block;
	color: white;
}
#navtabs li {
	color: white;
	display: inline;
	font-size: 20px
}
#selected {
	color: white;
}
li {
	color: white;
	padding: 41.3px;
	border-right-color: white
}
#twitterlist {
	position: absolute;
    right: 2%;
}
#mostrecentstory {
	position: relative;
	left:2%;
	max-width: 65%;
}
#nextrecentstory {
	position: relative;
	left:2%;
	max-width: 65%;
}
#council {
	position: relative;
	left:2%;
	max-width: 65%;
}
#councillist li {
	color: black;
	padding: 0;
}
#statesenate {
	position: relative;
	left:2%;
	max-width: 65%;
}
#stateassembly {
	position: relative;
	left:2%;
	max-width: 65%;
}
